#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  /* margin-top: 60px; */
  /* background-color: wheat; */

}

#app:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#nav {
  /* display: flex; */
  background-color: white;
  height: 60px;

  line-height: 60px;
  font-weight: bold;

  /* margin-bottom: 10px; */
  padding-left: 10px;

  box-shadow: 0 0 0 1px rgb(0 0 0 / 3%), 0 2px 5px 1px rgb(0 0 0 / 5%);
  z-index: 100;
}

.title {
  font-size: 30px;
  float: left;
}
#title_icon{
  margin-right: 10px;
  padding-top: 17px;
}
#title2 {
  font-size: 18px;
  line-height: 57px;
  padding-top: 3px;
  padding-left: 5px;

  color: rgba(0, 0, 0, .65);
}

.file {
  float: right;
  position: relative;

  cursor: pointer;
  right: 20px;
}
/* .layout{
  background-color: #2c3e50;
} */
.slider {
  position: fixed;
  height: 100%;
  width: 220px;

  /* align-items: center; */
  z-index: 10;
  /* padding-top: 60px; */
  background-color: rgb(0 0 0 / 3%);
}

.tab {
  width: 100%;
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
  font-size: 16px;
  margin: 20px 0;
  color: #363b52;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.tab > img{
  height: 17px;
  /* padding-right: 20px; */
}
.tab:hover{
  background-color: rgb(0 0 0 / 5%);
}